###############################
# SISTEMA OPERACIONAL
###############################
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

###############################
# NODE / NPM / YARN
###############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

###############################
# QUASAR
###############################
.quasar/
dist/
dist-spa/
dist-ssr/
dist-pwa/
dist-cordova/
dist-capacitor/

###############################
# BUILD E TEMPORÁRIOS
###############################
*.log
*.tmp
*.temp
tmp/
temp/
.cache/
vite.config.timestamp-*

###############################
# CONFIGURAÇÕES LOCAIS & SEGURANÇA
###############################
.env
.env.*
!.env.example          
serviceAccountKey.json

# Firebase local
.firebase/
firestore-debug.log
firebase-debug.log
.firebaserc

###############################
# CORDOVA
###############################
src-cordova/node_modules/
src-cordova/platforms/
src-cordova/plugins/
src-cordova/www/
src-cordova/.gradle/
src-cordova/.idea/

###############################
# CAPACITOR
###############################
src-capacitor/www/
src-capacitor/node_modules/
src-capacitor/android/
src-capacitor/ios/

###############################
# BROWSER EXTENSION (BEX)
###############################
src-bex/www/
src-bex/js/core/

###############################
# IDEs / EDITORES
###############################
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw[po]

###############################
# VERCEL
###############################
.vercel/
.vercel_build_output/

###############################
# OUTROS ARQUIVOS DESNECESSÁRIOS
###############################
*.tar
*.zip
*.7z
*.bak
*.old
*.orig